{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"commonjs": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": ["react"],
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"settings": {},
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "never"],
		"key-spacing": 2,
		"keyword-spacing": 2,
		"object-curly-spacing": ["error", "always"],
		"arrow-parens": [
			"error",
			"as-needed",
			{
				"requireForBlockBody": false
			}
		]
	}
}
